---
name: "nightly"
run-name: "Nightly tests for ${{ github.ref_name }}"

on:
  schedule:
    - cron: "22 0 * * *"  # Runs daily at 22:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  vuln-scan:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Create SBOM
        uses: ./
        with:
          target: ./
          target_type: file
          output_format: cyclonedx-json
          output_file: "/tmp/sbom/sbom.cdx.json"
          vuln: true
          vuln_output_format: sarif
          vuln_output_file: "/tmp/sbom/sbom.sarif"

      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "/tmp/sbom/sbom.sarif"
